<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="AudioSystem.Properties.Settings.MyLocalDataConnectionString"
            connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=|DataDirectory|\MyLocalData.mdb;Persist Security Info=True;Jet OLEDB:Database Password=CH123321"
            providerName="System.Data.OleDb" />
    </connectionStrings>
</configuration>